@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar untuk Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar untuk IE, Edge and Firefox */
html,
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
